<h1>Add doses for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %> <br>
  <%= f.association :ingredient %> <br>
  <%= f.submit "Add a dose",  class: "btn btn-primary" %>
<% end %>

<div class="container">
  <h4>Ajouter des ingrédients</h4>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient_id, collection: @ingredients %>

  <%= f.input :description, label: 'Description', error: 'La description est obligatoire' %>
  <%= f.button :submit %>
  <% end %>

</div>
